# FORMAT
# Put your extra requirements here in the following format
#
# package[version_required]: tag1, tag2, ...
# Reference: https://hanxiao.io/2019/11/07/A-Better-Practice-for-Managing-extras-require-Dependencies-in-Python/

nose: tests
mkdocstrings>=0.15.0: docs
mkdocs-material>=0.4.4: docs
mkdocs-autorefs>=0.1.1: docs
mkdocs-click>=0.4.0